In [ ]:
### Importing Library

In [7]:
import numpy as np
import pandas as pd

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.svm import SVR

from catboost import CatBoostRegressor
from xgboost import XGBRFRegressor

from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import os

In [9]:
df = pd.read_csv(os.path.join("data","student.csv"))

In [12]:
df.head()

   gender race_ethnicity  ... reading_score writing_score
0  female        group B  ...            72            74
1  female        group C  ...            90            88
2  female        group B  ...            95            93
3    male        group A  ...            57            44
4    male        group C  ...            78            75

[5 rows x 8 columns]

In [13]:
X = df.drop("math_score",axis=1)
y = df['math_score']

In [22]:
# Total Catogerical Features per Catogerical Columns
cato_columns = [column for column in df.columns if df[column].dtype=='O']

for column in cato_columns:
    print(f"Total Number of Distinct Catogeries in column {column} : {df[column].nunique()} which are {df[column].unique()}")

Total Number of Distinct Catogeries in column gender : 2 which are ['female' 'male']
Total Number of Distinct Catogeries in column race_ethnicity : 5 which are ['group B' 'group C' 'group A' 'group D' 'group E']
Total Number of Distinct Catogeries in column parental_level_of_education : 6 which are ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Total Number of Distinct Catogeries in column lunch : 2 which are ['standard' 'free/reduced']
Total Number of Distinct Catogeries in column test_preparation_course : 2 which are ['none' 'completed']

In [23]:
# As there less Number per Column, we can go ahead and create One-Hot Encoding for Each feature using pipeline.